
<!--**************здесь выводится сама публикация с номером и датой создания********** -->
<p style="font-weight:bold; font-size:16px">
	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>  <%= @row['Author_name']%> 
</p>
<p style="font-size: 75%; color: grey">#<%= @row['id'] %> 
	<span class="glyphicon glyphicon-time" aria-hidden="true"></span>  
	Добавлено: <%= @row['CreatedDate']%>
</p>

<blockquote style="border-color:grey">
	<p style="font-weight:bold; font-size:18px"><%= @row['Header']%></p>		
	<p style="font-weight:lighter; font-size:14px"><span class="glyphicon glyphicon glyphicon-hand-right" aria-hidden="true"></span>  <%= @row['Context']%></p>
</blockquote>		
<hr />

<h4>Комментировать</h4>
<hr/>

<!-- ***********форма textarea с именем автора комментария для добавления комментария к публикации*************** -->
<form action="/details/<%= @row['id']%>" name="new_comment" method="POST" role="form">
	<input type="text" class="form-control" name ="user_name" placeholder="Введите Ваше имя" ><br/>
	<textarea class="form-control" rows="3" name="new_post" placeholder="Введите текст комментария"></textarea>  <br />
	<button type="submit" class="btn btn-primary">Сохранить</button>
</form>
<hr />

<!-- *************здесь выводятся комментарии к публикациям с указанием даты создания комментария************** -->
<% @comments.each do |comment| %>
	<p style="font-weight:bold"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= comment['user_name'] %> </p>
	<p> <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <%= comment['Context'] %> </p>
	<p style="font-size: 75%; color: grey"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Добавлено: <%= comment['CreatedDate']%></p>
	
	<hr/>
	
<%end %>
	




