<div class="row" style="padding:20px">
	<div class="row">
		<div class="col-md-8">
			<h2>Последние публикации</h2>
			<hr />

				<% @outpost.each do |row|%>		
				
					<p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  <%= row['Author_name']%></p>
						<p style="font-size: 75%; color: grey" >
							<span class="glyphicon glyphicon-time" aria-hidden="true"></span> 
							Добавлено: <%= row['CreatedDate']%>
						</p>
					<blockquote class="blockquote">		
						<ins><p style="font-weight:bold; font-size:18px"><%= row['Header']%></p></ins>
						<p></p>
						<div style="max-height:100px; width: 600px; overflow:hidden;">							
							<p style="font-weight:lighter; font-size:14px"><%= row['Context']%></p>			
						</div>
						...
						
					</blockquote>		
					<a href="/details/<%= row['id']%>">Читать полностью... </a>
							
					<hr />
				
				<%end%>  
		</div>
		<div class="col-md-4">
		<h2>Лучшее</h2>
			<div class="row">
			  <div class="col-md-4" style="border:1px solid">.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4.col-md-4</div>
			  <div class="col-md-6" style="border:1px solid">.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6.col-md-6</div>
			  
			</div>
		</div>
	</div>
</div>