<h2>Последние публикации</h2>
<hr />

	<% @outpost.each do |row|%>		
		
		<blockquote >			
			<p style="font-weight:bold">Публикация #<%= row['id']%>  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>  <%= row['Author_name']%> </p>
			<p ><%= row['Context']%></p>	
			<p style="font-size: 75%; color: grey" ><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Добавлено: <%= row['CreatedDate']%></p>
		</blockquote>
		
		<button class="btn btn-primary" type="button" >
		<a href="/details/<%= row['id']%>" style="color:white">Комментировать <%= @seens %><span class="badge"></a>
		</button>		
		<hr />
	
	<%end%>
	


